.cart {
  height: 100vh;

  .backgroundLayer {
    position: fixed;
    background-image: url("/imgs/pexels-karolina-grabowska-5632402.jpg");
    background-position: center;
    background-size: cover;
    inset: 0;
    padding: 0;
    z-index: -111;
    filter: brightness(30%);
  }
  .cartInner {
    justify-content: center;
    padding: 20px 0px;

    .cartForm {
      background-image: linear-gradient(
        to bottom,
        var(--secondry-color),
        var(--primary-color)
      );
      backdrop-filter: blur(10px);
      color: var(--white);
      width: fit-content;
      padding: 10px 5px;
      border-radius: 15px;

      .header {
        text-align: center;
        img {
          width: 20%;
          margin: auto;
        }
        h6 {
          margin: 5px 0px;
          letter-spacing: 2px;
          color: var(--primary-color);
        }
      }
      .inputContainer {
        justify-content: center;
        gap: 5px;
        margin: 10px 0px;

        label {
          padding: 0;
        }

        input,
        textarea {
          border: none;
          border-radius: 10px;
          padding: 5px;
          transition: all 0.4s ease-in-out;

          &:focus {
            outline: none;
            box-shadow: 0 0 10px var(--white);
          }
        }
      }

      .submit {
        text-align: center;

        .submitBtn {
          background-color: var(--white);
          color: var(--primary-color);
          border: none;
          padding: 5px 10px;
          margin: 0px 5px;
          text-transform: uppercase !important;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: var(--secondry-color);
            color: var(--text);
            box-shadow: 0 0 10px var(--white);
          }
        }

        .editOrders {
          background-color: var(--white);
          border: none;
          padding: 5px 10px;
          margin: 0px 5px;
          text-transform: uppercase !important;
          transition: all 0.3s ease-in-out;

          a {
            color: var(--primary-color);
            text-decoration: none;
          }

          &:hover {
            background-color: var(--secondry-color);
            color: var(--text);
            box-shadow: 0 0 10px var(--white);
          }
        }
      }
    }
  }
}
