.wallets {
  text-align: center;
  padding: 100px 0px;
  h1 {
    font-family: EN-PlayfairDisplay;
    width: fit-content;
    margin: auto;
    padding: 50px;
    color: #fff;
    background-color: #000000;
    border-radius: 30px;
  }
}
