.wallets {
  text-align: center;
  padding: 100px 0px;
  h1 {
    font-family: EN-PlayfairDisplay;
    text-transform: uppercase !important;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 55px;
    color: #000;
  }
}
