.admin {
  padding: 20px 0px;

  .adminInner {
    justify-content: center;
    align-items: center;

    .adminNav {
      text-align: center;

      .adminNavBtn {
        border: 1px solid var(--primary-color);
        background-color: transparent;
        padding: 5px 10px;
        color: var(--text);
      }

      .selected {
        background-color: var(--primary-color);
        color: var(--white);
      }
    }

    .crudSystem {
      padding: 20px 0px;
      justify-content: center;
      align-items: start;

      .formSide {
        padding: 0px 10px;

        .chooseFunc {
          padding: 10px 0px;
          text-align: center;

          select {
            padding: 5px;
            background-color: transparent;
            border: 1px solid var(--primary-color);
            color: var(--text);
          }
        }

        .searchPanel {
          padding: 10px 0px;
          text-align: center;
          align-content: center !important ;

          input {
            color: var(--text);
            padding: 5px;
            border: 1px solid var(--primary-color);
            outline: none;
            width: fit-content;
          }

          button {
            padding: 5px 10px;
            border: none;
            border-radius: 0;
            background-color: var(--primary-color);
            color: var(--white);
            margin: 0px 5px;
          }
        }

        .crudForm {
          padding: 20px;
          border-radius: 10px;
          background-color: var(--primary-color);
          justify-content: center;
          align-items: center;
          gap: 10px;

          .formHeader {
            text-align: center;
            h4 {
              color: var(--white);
            }
          }

          .inputContainer {
            label {
              color: var(--white);
              padding: 5px 0px;
            }
            input {
              color: var(--text);
              padding: 5px;
              border: none;
              outline: none;
            }
            .imageInput {
              padding: 0;
            }
            select {
              padding: 5px;
              background-color: var(--white);
              border: 1px solid var(--primary-color);
              color: var(--text);
            }
          }

          .btns {
            text-align: center;

            .addBtn,
            .updateBtn,
            .resetBtn {
              padding: 5px 10px;
              margin: 0px 10px;
              border: 1px solid var(--white);
              background-color: transparent;
              color: var(--white);

              &:hover {
                background-color: var(--white);
                color: var(--text);
              }
            }
          }
        }
      }

      .cardsSide {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;

        .itemCard {
          text-align: center;
          color: var(--text);
          padding: 0;

          img {
            width: 15.625rem;
            height: 15.625rem;
            object-fit: contain;
          }

          .details {
            margin: 5px 0px;
            padding: 5px 10px;
            border: 1px solid var(--primary-color);

            .editBtn {
              padding: 5px 10px;
              border: none;
              background-color: #0065fd;
              color: var(--white);
              margin: 0px 5px;
            }

            .deleteBtn {
              padding: 5px 10px;
              border: none;
              background-color: #fd0000;
              color: var(--white);
              margin: 0px 5px;
            }
          }
        }
      }
    }

    .orders {
      padding: 20px 0px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .orderItem {
        margin: 0 !important;
        padding: 0 !important;
        border: 1px solid var(--primary-color);
        color: var(--text);

        .orderHeader {
          background-color: var(--primary-color);
          padding: 5px;
          h4 {
            margin: 0 !important;
            padding: 0 !important;
            color: var(--white);
          }
        }

        .orderDetails {
          padding: 10px 5px;

          h6 {
            border-bottom: 1px solid var(--primary-color);
            margin: 0 !important;
            padding: 5px 0px;
          }
        }

        .btns {
          padding: 5px 10px;
          text-align: center;

          .confirmBtn {
            padding: 5px 10px;
            color: var(--white);
            background-color: var(--primary-color);
            border: none;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: var(--primary-color);
              background-color: var(--white);
              outline: 1px solid var(--primary-color);
            }
          }
        }
      }
    }
  }
}
