.smallHeaderBar {
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 111;
  background-color: var(--white);
  padding: 10px 0px;

  .logo {
    width: 20%;
    margin: auto;
    text-align: center;
  }

  .offCanvTrigger {
    background-color: var(--primary-color) !important;
    color: var(--white);
    border-radius: 0;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--white) !important;
      color: var(--primary-color);
      outline: 1px solid var(--white);
    }
  }
}

.offcanvas {
  background-color: var(--trans-blur);
  backdrop-filter: blur(10px);
  overflow: hidden;
  width: 50dvw !important;

  .offcanvas-body {
    position: relative;

    .offcanvasList {
      list-style: none;

      .offCanvItem {
        padding: 10px 0px;
        position: relative;
        width: fit-content;
        margin: auto 0px;
        transition: all 0.3s ease-in-out;

        .offcanvLink {
          text-decoration: none;
          color: var(--primary-color);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          padding: 20px 0px;

          .offcanvLink {
            letter-spacing: 2px;
          }
        }
      }

      .dropdown,
      .dropend {
        .dropdown-menu {
          .dropdown-item {
            color: var(--primary-color);
            span {
              margin-inline-start: 5px !important;
            }
          }
        }
      }
    }
  }
}

.navBar {
  position: sticky;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 111;
  padding: 10px 0px;
  background-color: var(--white);

  .navbarInner {
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: EN-Bold !important;

    .logo {
      img {
        width: 60%;
      }
    }

    .navList {
      list-style: none;
      text-align: center;

      .navItem {
        display: inline;
        margin: 0px 20px;
        position: relative;

        .navLink {
          text-decoration: none;
          color: var(--primary-color);
          transition: all 0.3s ease-in-out;
        }

        &::after {
          content: "";
          background-color: var(--primary-color);
          height: 2px;
          width: 0%;
          position: absolute;
          bottom: -5px;
          left: 0%;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          .navLink {
            letter-spacing: 1px;
          }
          &::after {
            width: 100%;
          }
        }
      }

      .dropdown {
        .dropdown-menu {
          .dropdown-item {
            color: var(--primary-color);
            span {
              margin-inline-start: 5px !important;
            }
          }
        }
      }
    }
  }
}
