.offCanvTrigger {
  background-color: #004609 !important;
  color: #fff;
  border-radius: 0;
  border: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 111;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #fff !important;
    color: #004609;
    outline: 1px solid #fff;
  }
}

.offcanvas {
  background-color: #ffffffbb;
  backdrop-filter: blur(10px);
  overflow: hidden;
  width: 40dvw !important;

  .offcanvas-body {
    position: relative;

    .offcanvasList {
      list-style: none;

      .offCanvItem {
        padding: 10px 0px;
        position: relative;
        width: fit-content;
        margin: auto 0px;
        transition: all 0.3s ease-in-out;

        .offcanvLink {
          text-decoration: none;
          color: #004609;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          padding: 20px 0px;

          .offcanvLink {
            letter-spacing: 2px;
          }
        }
      }
    }
    .offcanvFooter {
      padding: 30px 10px;
      background-color: #004609;
      position: fixed;
      bottom: 0%;
      left: 0%;

      .offFooterHeader {
        color: #fff;
      }

      .offFooterBody {
        .socials {
          .offcanvFooterLink {
            text-decoration: none;
            color: #fff;
            margin-inline-end: 10px;
            font-size: 20px;
          }
        }
        .cont {
          .offcanvFooterLink {
            text-decoration: none;
            display: block;
            color: #fff;
            margin: 10px 0px;
            font-size: 20px;

            span {
              margin-inline-start: 10px;
            }
          }
        }
      }
    }
  }
}

.navBar {
  position: sticky;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 111;
  padding: 10px 0px;
  background-color: #fff;

  .navbarInner {
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: EN-Bold !important;

    .navList {
      list-style: none;
      text-align: center;

      .navItem {
        display: inline;
        margin: 0px 20px;
        position: relative;

        .navLink {
          text-decoration: none;
          color: #004609;
          transition: all 0.3s ease-in-out;
        }

        &::after {
          content: "";
          background-color: #000;
          height: 2px;
          width: 0%;
          position: absolute;
          bottom: -5px;
          left: 0%;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          .navLink {
            letter-spacing: 1px;
          }
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
