.cartCheck {
  text-align: center;
  padding: 20px 0px;
  h2 {
    text-align: center;
    margin: 20px 0px;
    color: var(--text);
  }

  p {
    color: var(--text);
  }

  .card {
    border-radius: 0;
    border: 1px solid var(--primary-color);
    color: var(--text);

    .removeBtn {
      margin: 0px 5px;
      border: 1px solid #fd0000;
      padding: 5px 10px;
      background-color: transparent;
      color: #fd0000;

      &:hover {
        background-color: #fd0000;
        color: var(--white);
      }
    }

    .details {
      margin: 0px 5px;
      border: 1px solid var(--primary-color);
      padding: 5px 10px;
      background-color: transparent;

      a {
        text-decoration: none;
        color: var(--text);
      }

      &:hover {
        background-color: var(--primary-color);

        a {
          color: var(--white);
        }
      }
    }
  }

  .toCartBtn,
  .toShopBtn {
    padding: 10px 20px;
    margin: 0px 10px;
    border: none;
    background-color: var(--primary-color);
    text-transform: uppercase !important;

    a {
      text-decoration: none;
      color: var(--white);
    }

    &:hover {
      outline: 1px solid var(--primary-color);
    }
  }
}
