.shoes {
  padding: 50px 0px;

  .shoesInner {
    justify-content: center;
    .shoesHeader {
      text-align: center;
      h2 {
        color: var(--white);
        text-transform: uppercase !important;
        width: fit-content;
        margin: auto;
        background-color: var(--text-tr-bg);
        padding: 10px;
      }
    }
    .shoesContents {
      padding: 20px 0px;
      text-align: center;
      color: var(--text);
    }
  }
}
