.footer {
  background-color: var(--primary-color);
  padding: 50px 0px;
  position: static;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 111;
  animation: FooterDrag linear forwards;
  animation-timeline: view();
  animation-range: entry 0%;

  .footerInner {
    justify-content: center;
    align-items: baseline;
    gap: 15px;

    .footerSec {
      h3 {
        color: var(--white);
        text-transform: uppercase !important;
        padding: 0px;
      }

      .footerList {
        list-style: none;
        padding: 0;

        .FooterListItem {
          margin: 10px 0px;

          .FooterLink {
            text-decoration: none;
            color: var(--white);

            span {
              margin-inline-start: 10px;
            }
          }
        }
      }
    }
  }
}
