.prodDet {
  padding: 30px 0px;

  .prodDetInner {
    justify-content: center;
    align-items: center;
    gap: 10px;

    .backContainer {
      text-align: end;

      .backBtn {
        background-color: transparent;
        border: 1px solid var(--primary-color);
        color: var(--text);
        padding: 5px 10px;
        width: fit-content;
      }
    }

    .imgSide {
      position: relative;
      overflow: hidden;
      cursor: crosshair;

      .zoomContainer {
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        position: relative;

        .zoomImage {
          width: 100%;
          height: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          transition: background-position 0.1s ease;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-size: 150%;
          }
        }
      }

      .imgNavBtns {
        .imgNav {
          padding: 5px;
          border-radius: 0%;
          border: none;
          background-color: var(--primary-color);
          color: var(--white);
          margin: 0px 10px;
        }
      }
    }

    .textSide {
      border: 1px solid var(--primary-color);
      padding: 10px;
      color: var(--text);
      ul {
        list-style: none;
        padding: 0;
      }

      .toCartBtn,
      .toCheckoutBtn {
        cursor: pointer;
        padding: 10px 20px;
        margin-inline-end: 10px;
        border: none;
        background-color: var(--primary-color);
        text-transform: uppercase !important;
        color: var(--white);

        a {
          color: var(--white);
          text-decoration: none;
          text-transform: uppercase !important;
        }

        &:hover {
          outline: 1px solid var(--primary-color);
        }
      }
    }
  }
}
