.prodDet {
  padding: 30px 0px;
  .imgSide {
    .imgNavBtns {
      .imgNav {
        padding: 5px;
        border-radius: 0%;
        border: none;
        background-color: var(--primary-color);
        color: var(--white);
        margin: 0px 10px;
      }
    }
  }
  .textSide {
    border: 1px solid var(--primary-color);
    padding: 10px;
    color: var(--text);
    ul {
      list-style: none;
      padding: 0;
    }

    .toCartBtn {
      cursor: pointer;
      padding: 10px 20px;
      border: none;
      background-color: var(--primary-color);
      text-transform: uppercase !important;
      color: var(--white);

      &:hover {
        outline: 1px solid var(--primary-color);
      }
    }
  }
  .rateField {
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid var(--primary-color);
    color: var(--text);

    .rateForm {
      padding: 10px;
      justify-content: start;
      align-items: end;
      gap: 10px;

      .inputContainer {
        padding: 0;
        label {
          padding: 5px;
        }
        input {
          padding: 5px;
          outline: none;
        }
        select {
          padding: 5px;
        }
      }

      .reviewSend {
        padding: 5px 10px;
        border: none;
        background-color: var(--primary-color);
        text-transform: uppercase !important;
        color: var(--white);
      }
    }

    .reviewsList {
      list-style: none;
      border-top: 1px solid var(--primary-color);
      padding: 20px 0px;

      li {
        padding: 5px 0px;
        border-top: 1px solid var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
      }
    }
  }
}
