@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes FooterDrag {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
