@import url(./fonts.css);
@import url(./animations.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize !important;
  font-family: EN-Ubuntu;
}

img {
  width: 100%;
}

.fromLeft {
  animation: fromLeft linear forwards;
  animation-timeline: view();
  animation-range: entry 0%;
}

.fromRight {
  animation: fromRight linear forwards;
  animation-timeline: view();
  animation-range: entry 0%;
}

.center {
  animation: fromBottom linear forwards;
  animation-timeline: view();
  animation-range: entry 0%;
}

.fadeIn {
  animation: fadeIn linear forwards;
  animation-timeline: view();
  animation-range: entry 0%;
}

.shop {
  .shopInner {
    justify-content: center;
    align-items: center;

    .navModels {
      padding: 20px 0px;
      text-align: center;

      .navBtn {
        padding: 5px 10px;
        border: 1px solid #004609;
        background-color: #fff;

        a {
          text-decoration: none;
          color: #004609;
        }
      }
    }

    .shopHeader {
      padding: 20px 0px;
      text-align: center;
      position: relative;

      .backgroundLayer {
        padding: 0;
        z-index: -111;
        filter: brightness(40%);
      }

      .textLayer {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          font-family: EN-PlayfairDisplay !important;
          text-transform: uppercase !important;
          color: #fff;
          filter: drop-shadow(0 0 10px #fff);
        }
      }
    }

    .Watches {
      justify-content: center;
      align-items: center;
      text-align: center;

      .watchItem {
        cursor: pointer;
        margin: 20px 0px;

        .img {
          overflow: hidden;
          img {
            transition: all 0.3s ease-in-out;
          }
        }

        .info {
          padding: 0;

          h6,
          h5 {
            text-transform: uppercase !important;
          }

          .addBtn {
            background-color: #004609;
            text-transform: uppercase !important;
            color: #fff;
            padding: 5px 10px;
            border: none;

            &:hover {
              outline: 1px solid #004609;
            }
          }
        }

        &:hover {
          .img {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .toCart {
      text-align: center;
      padding: 20px 0px;

      .toCartBtn {
        padding: 10px 20px;
        border: none;
        background-color: #004609;
        color: #fff;
        text-transform: uppercase !important;

        &:hover {
          outline: 1px solid #004609;
        }
      }
    }
  }
}
