@import url(./fonts.css);
@import url(./animations.css);
@import url(./responsive.css);

:root {
  font-size: 16px + 0.25vw;
  --primary-color: #dfb602;
  --secondry-color: #d1b744;
  --white: #fff;
  --trans-blur: #ffffffbb;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize !important;
  font-family: EN-Ubuntu, AR-Zain;
}

img {
  width: 100%;
}
body {
  height: 100dvh;
}

.fromLeft {
  animation: fromLeft linear forwards;
  animation-timeline: view();
  animation-range: entry 0%;
}

.fromRight {
  animation: fromRight linear forwards;
  animation-timeline: view();
  animation-range: entry 0%;
}

.center {
  animation: fromBottom linear forwards;
  animation-timeline: view();
  animation-range: entry 0%;
}

.fadeIn {
  animation: fadeIn linear forwards;
  animation-timeline: view();
  animation-range: entry 0%;
}

.shop {
  .shopInner {
    justify-content: center;
    align-items: center;

    .navModels {
      padding: 20px 0px;
      text-align: center;

      .navBtn {
        padding: 5px 10px;
        border: 1px solid var(--primary-color);
        background-color: var(--white);

        a {
          text-decoration: none;
          color: var(--primary-color);
        }
      }

      .selected {
        background-color: var(--primary-color);

        a {
          text-decoration: none;
          color: var(--white);
        }
      }
    }

    .shopHeader {
      padding: 0px;
      text-align: center;
      position: relative;
      top: 0%;

      .backgroundLayer {
        padding: 0;
        z-index: -111;
        filter: brightness(40%);
      }

      .textLayer {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          font-family: EN-PlayfairDisplay, AR-Zain !important;
          text-transform: uppercase !important;
          color: #fff;
          filter: drop-shadow(0 0 10px var(--white));
        }
      }
    }

    .Watches {
      justify-content: center;
      align-items: center;
      text-align: center;

      .watchItem {
        cursor: pointer;
        margin: 20px 0px;

        .img {
          overflow: hidden;
          img {
            transition: all 0.3s ease-in-out;
          }
        }

        .info {
          padding: 0;

          h6,
          h5 {
            text-transform: uppercase !important;
          }

          .addBtn {
            background-color: var(--primary-color);
            text-transform: uppercase !important;
            color: var(--white);
            padding: 5px 10px;
            border: none;

            &:hover {
              outline: 1px solid var(--primary-color);
            }
          }
        }

        &:hover {
          .img {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .toCart {
      text-align: center;
      padding: 20px 0px;

      .toCartBtn {
        padding: 10px 20px;
        border: none;
        background-color: var(--primary-color);
        text-transform: uppercase !important;

        a {
          text-decoration: none;
          color: #fff;
        }

        &:hover {
          outline: 1px solid var(--primary-color);
        }
      }
    }
  }
}

.upBtn {
  position: fixed;
  bottom: 5%;
  right: 1%;
  border: none;
  outline: 1px solid var(--primary-color);
  border-radius: 0;
  padding: 5px 10px;
  color: var(--primary-color);
  font-weight: bolder;
  background-color: #fff;
  z-index: 111;
}
