@media screen and (min-width: 1200px) {
  .navBar {
    display: block;
  }

  .smallHeaderBar {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navBar {
    display: none;
  }

  .smallHeaderBar {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}
